body {
    background: #fffafa;
}

.principal {
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-rows: 70px 90vh 50px;
}

.cabecalho{
    
    grid-area: cabecalho;
}

.conteudo {
    grid-area: conteudo;
}

.rodape {
    text-align: center;
    grid-area: rodape;
}